body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: px;
    font-family: Courier New (monospace);
}

/*https://www.w3schools.com/cssref/css_websafe_fonts.php*/
/* navigation menu */
nav {
    background: rgb(239, 80, 41);
   margin: 0 auto;
    display: flex;
    padding: 10px;
    font-family: Brush Script MT;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}